# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8  
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Installs Git Bash
      uses: fnkr/github-action-git-bash@v1.1
    - name: Clone JFortniteParse Repository
      run: git clone https://github.com/FabianFG/JFortniteParse
    - name: Debug!!!
      run: dir
    - name: Refresh deps for gradle
      run: ./gradlew build --refresh-dependencies
    - name: Build with Gradle
      run: ./gradlew build --debug
    - name: Python Dependency Installation
      uses: py-actions/py-dependency-install@v2.0.2
      with:
        # Path to requirements.txt file
        path: requirements.txt # optional, default is requirements.txt
        # Boolean for pip upgrade prior to the dependency installation (default='true')
        update-pip: true # optional, default is true
        # Boolean for setuptools install/upgrade prior to the dependency installation (default='true')
        update-setuptools: true # optional, default is true
        # Boolean for wheel install/upgrade prior to the dependency installation (default='true')
        update-wheel: true # optional, default is true  
    - name: Black Check
      uses: jpetrucciani/black-check@19.10b0
      with:
        # File or directory to run black on
        path: . # optional, default is .  
    - name: python-flake8
      uses: julianwachholz/flake8-action@v1.0.0
      with:
        # The name of the check to add annotations to. Generally the same as the job that uses this action
        checkName: build
        # Used for internal tests.
